.bicicleta {
    background: var(--cor-11);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.bicicleta-imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bicicleta-imagens img {
    flex: 1;
    min-width: 200px;
}

.bicicleta-imagens img:first-child {
    min-width: 100%;
}